The goal of this dataset is to collect all informations regarding the production of energy
from renewable ressources in the Netherlands and/or Amsterdam, 
according to the availability of the databases

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\The_Amsterdam_Project\\NL_greenhouse90_99.csv')
#data.head()

data2 = pd.read_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\The_Amsterdam_Project\\NL_greenhouse00_18.csv')
#data2.head()

In [4]:
data2.reset_index()
data.reset_index()

,index,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,"Totaal bekende CO2-uitstoot (gas, elektr., war...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Totaal bekende CO2-uitstoot exclusief CO2-uits...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"CO2-uitstoot Gebouwde Omgeving (gas, elektr. e...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CO2-uitstoot Verkeer en vervoer incl. auto(sne...,32657895.0,33067134.0,33476372.0,33885611.0,34294849.0,34704087.0,35505658.0,36307229.0,37108799.0,37910370.0
4,"CO2-uitstoot Industrie, Energie, Afval en Wate...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76,Uitstoot (CO2-eq.) Totaal Methaan (CH4) volgen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Uitstoot (CO2-eq.) Totaal PFK116 volgens IPCC ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Uitstoot (CO2-eq.) Totaal PFK14 volgens IPCC A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Uitstoot (CO2-eq.) Totaal Zwavelhexafluoride (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,"Uitstoot (CO2-eq.) Totaal F-gassen (HFK's, SF6...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ge = data.merge(data2, on='1999', left_index = True, right_index = True, copy = False)
ge.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
"Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,147236800.0,142341900.0,143321300.0,146484400.0,141863600.0,145544900,142664500,140528800,138735900.0
Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,132113600.0,127202300.0,128372400.0,131726300.0,127296200.0,130955500,127707600,125569700,124326500.0
"CO2-uitstoot Gebouwde Omgeving (gas, elektr. en warmte, tier 3/tier 2) [ton]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,56683958.0,52918148.0,54747296.0,55051313.0,53463436.0,55084425,52502637,50327708,49371721.0
"CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]",32657895.0,33067134.0,33476372.0,33885611.0,34294849.0,34704087.0,35505658.0,36307229.0,37108799.0,37910370.0,...,39975908.0,39821916.0,40102685.0,39945980.0,39789290.0,39632606.0,39684686,39962083,40193494,40440334.0
"CO2-uitstoot Industrie, Energie, Afval en Water (gas en elektr., tier 3) [ton]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,39403582.0,39183158.0,38209965.0,41232492.0,39333073.0,40768834,40304720,40094873,39224664.0

In [6]:
ge = ge.transpose().reset_index()

In [7]:
ge

,index,"Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]",Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton],"CO2-uitstoot Gebouwde Omgeving (gas, elektr. en warmte, tier 3/tier 2) [ton]","CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]","CO2-uitstoot Industrie, Energie, Afval en Water (gas en elektr., tier 3) [ton]","CO2-uitstoot Landbouw, bosbouw en visserij, SBI A (gas, elektr., tier 3) [ton]",CO2-uitstoot Bedrijven en instellingen excl. gasgebruik energieproductie (gas en elektriciteit) [ton],"CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]",CO2-uitstoot t.g.v. gasverbruik [ton],...,Uitstoot (CO2-eq.) Totaal HFK 134A volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal HFK 143A volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal HFK 152A volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal HFK 23 volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal HFK 32 volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal Methaan (CH4) volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal PFK116 volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal PFK14 volgens IPCC AR4 [ton CO2-equivalent],Uitstoot (CO2-eq.) Totaal Zwavelhexafluoride (SF6) volgens IPCC AR4 [ton CO2-equivalent],"Uitstoot (CO2-eq.) Totaal F-gassen (HFK's, SF6) volgens IPCC AR4 [ton CO2-equivalent]"
0,1990,NaN,NaN,NaN,32657895.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991,NaN,NaN,NaN,33067134.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,33476372.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,NaN,NaN,NaN,33885611.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,NaN,NaN,NaN,34294849.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1995,NaN,NaN,NaN,34704087.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1996,NaN,NaN,NaN,35505658.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,NaN,NaN,NaN,36307229.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1998,NaN,NaN,NaN,37108799.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1999,NaN,NaN,NaN,37910370.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,NaN,NaN,NaN,38711940.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2001,NaN,NaN,NaN,39087928.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2002,NaN,NaN,NaN,39463916.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2003,NaN,NaN,NaN,39839903.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2004,NaN,NaN,NaN,40215891.0,NaN,NaN,NaN,31866789.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2005,NaN,NaN,NaN,40591879.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2006,NaN,NaN,NaN,40437886.0,NaN,NaN,NaN,31626899.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2007,NaN,NaN,NaN,40283894.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2008,NaN,NaN,NaN,40129901.0,NaN,NaN,NaN,30685585.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2009,NaN,NaN,NaN,39975908.0,NaN,NaN,NaN,30762551.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2010,147236800.0,132113600.0,56683958.0,39821916.0,39403582.0,11327316.0,77003127.0,30411730.0,61505726.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2011,142341900.0,127202300.0,52918148.0,40102685.0,39183158.0,10137878.0,72821501.0,29417688.0,57642177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2012,143321300.0,128372400.0,54747296.0,39945980.0,38209965.0,10418033.0,73879871.0,29495424.0,57682734.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2013,146484400.0,131726300.0,55051313.0,39789290.0,41232492.0,10411314.0,77266366.0,29428756.0,58830713.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2014,141863600.0,127296200.0,53463436.0,39632606.0,39333073.0,9434509.0,72900389.0,29330632.0,53638101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,145544900.0,130955500.0,55084425.0,39684686.0,40768834.0,10006984.0,76827875.0,29032368.0,54543238.0,...,713670.0,648225.0,18.0,204403.0,24651.0,19625225.0,1014.0,3861.0,138838.0,2393320.0
26,2016,142664500.0,127707600.0,52502637.0,39962083.0,40304720.0,9895078.0,74798781.0,27903658.0,54245168.0,...,693408.0,707792.0,11.0,252296.0,24756.0,19720443.0,1021.0,3887.0,132557.0,1933169.0
27,2017,140528800.0,125569700.0,50327708.0,40193494.0,40094873.0,9912687.0,73347786.0,26987487.0,55544872.0,...,700618.0,708538.0,11.0,195834.0,24750.0,19388833.0,1045.0,3979.0,132660.0,1886747.0
28,2018,138735900.0,124326500.0,49371721.0,40440334.0,39224664.0,9699176.0,71559585.0,26735975.0,55177041.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
ge.columns

Index(['index',
       'Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]',
       'Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton]',
       'CO2-uitstoot Gebouwde Omgeving (gas, elektr. en warmte, tier 3/tier 2) [ton]',
       'CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]',
       'CO2-uitstoot Industrie, Energie, Afval en Water (gas en elektr., tier 3) [ton]',
       'CO2-uitstoot Landbouw, bosbouw en visserij, SBI A (gas, elektr., tier 3) [ton]',
       'CO2-uitstoot Bedrijven en instellingen excl. gasgebruik energieproductie (gas en elektriciteit) [ton]',
       'CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]',
       'CO2-uitstoot t.g.v. gasverbruik [ton]',
       'CO2-uitstoot t.g.v. elektriciteitsgebruik [ton]',
       'Totale CO2-uitstoot volgens Emissieregistratie (alle emissieoorzaken) [ton]',
       'Totale CO2-uitstoot excl. opwekking elektriciteit volgens ER (alle emissieoorzaken) [ton]',
       'Uitstoot Drinkwatervoorziening - CO2 [ton]',
       'Uitstoot Consumenten - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - CO2 [ton]',
       'Uitstoot RWZI - CO2 [ton]',
       'Uitstoot Consumenten - Energiegebruik Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Indirecte emissies broeikasgassen Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Productgebruik Consumenten - CO2 [ton]',
       'Uitstoot Drinkwatervoorziening - Drinkwaterbedrijven - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Indirecte emissies broeikasgassen - CO2 [ton]',
       'Uitstoot RWZI - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Binnenscheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Luchtvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Mobiele werktuigen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Railverkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Recreatievaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Smeermiddelengebruik-verkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Visserij - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - niet uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart NCP (inclusief ankerliggers) - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart varend op Nederlands grondgebied - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart stilliggend - CO2 [ton]',
       'Uitstoot Afvalverwijdering - CO2 [ton]', 'Uitstoot Bouw - CO2 [ton]',
       'Uitstoot Chemische Industrie - CO2 [ton]',
       'Uitstoot Energiesector - CO2 [ton]',
       'Uitstoot Overige industrie - CO2 [ton]',
       'Uitstoot Raffinaderijen - CO2 [ton]', 'Uitstoot Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Energiegebruik Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Indirecte emissies broeikasgassen Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Landbouwbedrijven - CO2 [ton]',
       'Uitstoot Landbouw - Productgebruik Landbouw - CO2 [ton]',
       'Uitstoot Totaal Methaan (CH4) [kg]',
       'Uitstoot Totaal Lachgas (N2O) [kg]', 'Uitstoot Totaal HFK 32 [kg]',
       'Uitstoot Totaal HFK 23 [kg]', 'Uitstoot Totaal HFK 152A [kg]',
       'Uitstoot Totaal HFK 143A [kg]', 'Uitstoot Totaal HFK 134A [kg]',
       'Uitstoot Totaal HFK 125 [kg]',
       'Uitstoot Totaal Zwavelhexafluoride (SF6) [kg]',
       'Totaal uitstoot overige broeikasgassen (CO2-eq.) volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Methaan (CH4) volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal F-gassen (HFK's, SF6) volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Lachgas (N2O) volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 32 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 23 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 152A volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 14 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 134A volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 125 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Zwavelhexafluoride (SF6) volgens IPCC AR5 [ton CO2-equivalent]',
       'Totaal overige broeikasgassen (CO2-eq.) volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Lachgas (N2O) volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 125 volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 134A volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 143A volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 152A volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 23 volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 32 volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Methaan (CH4) volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal PFK116 volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal PFK14 volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Zwavelhexafluoride (SF6) volgens IPCC AR4 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal F-gassen (HFK's, SF6) volgens IPCC AR4 [ton CO2-equivalent]'],
      dtype='object')

In [9]:
ge_light = ge[['index',
       'Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]',
       'Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton]',
       'CO2-uitstoot Gebouwde Omgeving (gas, elektr. en warmte, tier 3/tier 2) [ton]',
       'CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]',
       'CO2-uitstoot Industrie, Energie, Afval en Water (gas en elektr., tier 3) [ton]',
       'CO2-uitstoot Landbouw, bosbouw en visserij, SBI A (gas, elektr., tier 3) [ton]',
       'CO2-uitstoot Bedrijven en instellingen excl. gasgebruik energieproductie (gas en elektriciteit) [ton]',
       'CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]',
       'CO2-uitstoot t.g.v. gasverbruik [ton]',
       'CO2-uitstoot t.g.v. elektriciteitsgebruik [ton]',
       'Totale CO2-uitstoot volgens Emissieregistratie (alle emissieoorzaken) [ton]',
       'Totale CO2-uitstoot excl. opwekking elektriciteit volgens ER (alle emissieoorzaken) [ton]',
       'Uitstoot Drinkwatervoorziening - CO2 [ton]',
       'Uitstoot Consumenten - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - CO2 [ton]',
       'Uitstoot RWZI - CO2 [ton]',
       'Uitstoot Consumenten - Energiegebruik Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Indirecte emissies broeikasgassen Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Productgebruik Consumenten - CO2 [ton]',
       'Uitstoot Drinkwatervoorziening - Drinkwaterbedrijven - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Indirecte emissies broeikasgassen - CO2 [ton]',
       'Uitstoot RWZI - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Binnenscheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Luchtvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Mobiele werktuigen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Railverkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Recreatievaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Smeermiddelengebruik-verkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Visserij - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - niet uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart NCP (inclusief ankerliggers) - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart varend op Nederlands grondgebied - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart stilliggend - CO2 [ton]',
       'Uitstoot Afvalverwijdering - CO2 [ton]', 'Uitstoot Bouw - CO2 [ton]',
       'Uitstoot Chemische Industrie - CO2 [ton]',
       'Uitstoot Energiesector - CO2 [ton]',
       'Uitstoot Overige industrie - CO2 [ton]',
       'Uitstoot Raffinaderijen - CO2 [ton]', 'Uitstoot Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Energiegebruik Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Indirecte emissies broeikasgassen Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Landbouwbedrijven - CO2 [ton]',
       'Uitstoot Landbouw - Productgebruik Landbouw - CO2 [ton]',
       'Uitstoot Totaal Methaan (CH4) [kg]',
       'Uitstoot Totaal Lachgas (N2O) [kg]', 'Uitstoot Totaal HFK 32 [kg]',
       'Uitstoot Totaal HFK 23 [kg]', 'Uitstoot Totaal HFK 152A [kg]',
       'Uitstoot Totaal HFK 143A [kg]', 'Uitstoot Totaal HFK 134A [kg]',
       'Uitstoot Totaal HFK 125 [kg]',
       'Uitstoot Totaal Zwavelhexafluoride (SF6) [kg]',
       'Totaal uitstoot overige broeikasgassen (CO2-eq.) volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Methaan (CH4) volgens IPCC AR5 [ton CO2-equivalent]',
       "Uitstoot (CO2-eq.) Totaal F-gassen (HFK's, SF6) volgens IPCC AR5 [ton CO2-equivalent]",
       'Uitstoot (CO2-eq.) Totaal Lachgas (N2O) volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 32 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 23 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 152A volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 14 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 134A volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal HFK 125 volgens IPCC AR5 [ton CO2-equivalent]',
       'Uitstoot (CO2-eq.) Totaal Zwavelhexafluoride (SF6) volgens IPCC AR5 [ton CO2-equivalent]']]

In [10]:
ge_light.columns = ['Year',
       'Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]',
       'Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton]',
       'CO2-uitstoot Gebouwde Omgeving (gas, elektr. en warmte, tier 3/tier 2) [ton]',
       'CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]',
       'CO2-uitstoot Industrie, Energie, Afval en Water (gas en elektr., tier 3) [ton]',
       'CO2-uitstoot Landbouw, bosbouw en visserij, SBI A (gas, elektr., tier 3) [ton]',
       'CO2-uitstoot Bedrijven en instellingen excl. gasgebruik energieproductie (gas en elektriciteit) [ton]',
       'CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]',
       'CO2-uitstoot t.g.v. gasverbruik [ton]',
       'CO2-uitstoot t.g.v. elektriciteitsgebruik [ton]',
       'Totale CO2-uitstoot volgens Emissieregistratie (alle emissieoorzaken) [ton]',
       'Totale CO2-uitstoot excl. opwekking elektriciteit volgens ER (alle emissieoorzaken) [ton]',
       'Uitstoot Drinkwatervoorziening - CO2 [ton]',
       'Uitstoot Consumenten - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - CO2 [ton]',
       'Uitstoot RWZI - CO2 [ton]',
       'Uitstoot Consumenten - Energiegebruik Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Indirecte emissies broeikasgassen Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Productgebruik Consumenten - CO2 [ton]',
       'Uitstoot Drinkwatervoorziening - Drinkwaterbedrijven - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Indirecte emissies broeikasgassen - CO2 [ton]',
       'Uitstoot RWZI - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Binnenscheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Luchtvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Mobiele werktuigen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Railverkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Recreatievaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Smeermiddelengebruik-verkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Visserij - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - niet uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart NCP (inclusief ankerliggers) - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart varend op Nederlands grondgebied - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart stilliggend - CO2 [ton]',
       'Uitstoot Afvalverwijdering - CO2 [ton]', 'Uitstoot Bouw - CO2 [ton]',
       'Uitstoot Chemische Industrie - CO2 [ton]',
       'Uitstoot Energiesector - CO2 [ton]',
       'Uitstoot Overige industrie - CO2 [ton]',
       'Uitstoot Raffinaderijen - CO2 [ton]', 'Uitstoot Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Energiegebruik Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Indirecte emissies broeikasgassen Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Landbouwbedrijven - CO2 [ton]',
       'Uitstoot Landbouw - Productgebruik Landbouw - CO2 [ton]',
       'Uitstoot Totaal Methaan (CH4) [kg]',
       'Uitstoot Totaal Lachgas (N2O) [kg]', 'Uitstoot Totaal HFK 32 [kg]',
       'Uitstoot Totaal HFK 23 [kg]', 'Uitstoot Totaal HFK 152A [kg]',
       'Uitstoot Totaal HFK 143A [kg]', 'Uitstoot Totaal HFK 134A [kg]',
       'Uitstoot Totaal HFK 125 [kg]',
       'Uitstoot Totaal Zwavelhexafluoride (SF6) [kg]',
       'Totaal uitstoot overige broeikasgassen (CO2-eq.)[ton CO2-equivalent]',
       'Totaal Methaan (CH4)[ton CO2-equivalent]',
       "Totaal F-gassen (HFK's, SF6)[ton CO2-equivalent]",
       'Totaal Lachgas (N2O)[ton CO2-equivalent]',
       'Totaal HFK 32 [ton CO2-equivalent]',
       'Totaal HFK 23 [ton CO2-equivalent]',
       'Totaal HFK 152A [ton CO2-equivalent]',
       'Totaal HFK 14 [ton CO2-equivalent]',
       'Totaal HFK 134A [ton CO2-equivalent]',
       'Totaal HFK 125 [ton CO2-equivalent]',
       'Totaal Zwavelhexafluoride (SF6)[ton CO2-equivalent]']

In [11]:
ge_light = ge_light[['Year',
       'Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]',
       'Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton]',
       'CO2-uitstoot Gebouwde Omgeving (gas, elektr. en warmte, tier 3/tier 2) [ton]',
       'CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]',
       'CO2-uitstoot Industrie, Energie, Afval en Water (gas en elektr., tier 3) [ton]',
       'CO2-uitstoot Landbouw, bosbouw en visserij, SBI A (gas, elektr., tier 3) [ton]',
       'CO2-uitstoot Bedrijven en instellingen excl. gasgebruik energieproductie (gas en elektriciteit) [ton]',
       'CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]',
       'CO2-uitstoot t.g.v. gasverbruik [ton]',
       'CO2-uitstoot t.g.v. elektriciteitsgebruik [ton]',
       'Totale CO2-uitstoot volgens Emissieregistratie (alle emissieoorzaken) [ton]',
       'Totale CO2-uitstoot excl. opwekking elektriciteit volgens ER (alle emissieoorzaken) [ton]',
       'Uitstoot Drinkwatervoorziening - CO2 [ton]',
       'Uitstoot Consumenten - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - CO2 [ton]',
       'Uitstoot RWZI - CO2 [ton]',
       'Uitstoot Consumenten - Energiegebruik Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Indirecte emissies broeikasgassen Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Productgebruik Consumenten - CO2 [ton]',
       'Uitstoot Drinkwatervoorziening - Drinkwaterbedrijven - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Indirecte emissies broeikasgassen - CO2 [ton]',
       'Uitstoot RWZI - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Binnenscheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Luchtvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Mobiele werktuigen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Railverkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Recreatievaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Smeermiddelengebruik-verkeer - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Visserij - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - niet uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Wegverkeer - uitlaatgassen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart NCP (inclusief ankerliggers) - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart varend op Nederlands grondgebied - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - Zeescheepvaart stilliggend - CO2 [ton]',
       'Uitstoot Afvalverwijdering - CO2 [ton]', 'Uitstoot Bouw - CO2 [ton]',
       'Uitstoot Chemische Industrie - CO2 [ton]',
       'Uitstoot Energiesector - CO2 [ton]',
       'Uitstoot Overige industrie - CO2 [ton]',
       'Uitstoot Raffinaderijen - CO2 [ton]', 'Uitstoot Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Energiegebruik Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Indirecte emissies broeikasgassen Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Landbouwbedrijven - CO2 [ton]',
       'Uitstoot Landbouw - Productgebruik Landbouw - CO2 [ton]',
       'Totaal uitstoot overige broeikasgassen (CO2-eq.)[ton CO2-equivalent]',
       'Totaal Methaan (CH4)[ton CO2-equivalent]',
       "Totaal F-gassen (HFK's, SF6)[ton CO2-equivalent]",
       'Totaal Lachgas (N2O)[ton CO2-equivalent]',
       'Totaal HFK 32 [ton CO2-equivalent]',
       'Totaal HFK 23 [ton CO2-equivalent]',
       'Totaal HFK 152A [ton CO2-equivalent]',
       'Totaal HFK 14 [ton CO2-equivalent]',
       'Totaal HFK 134A [ton CO2-equivalent]',
       'Totaal HFK 125 [ton CO2-equivalent]',
       'Totaal Zwavelhexafluoride (SF6)[ton CO2-equivalent]']]

In [12]:
ge_other = ge_light[['Year','Totaal uitstoot overige broeikasgassen (CO2-eq.)[ton CO2-equivalent]',
       'Totaal Methaan (CH4)[ton CO2-equivalent]',
       "Totaal F-gassen (HFK's, SF6)[ton CO2-equivalent]",
       'Totaal Lachgas (N2O)[ton CO2-equivalent]']]

ge_other.columns = ['Year','Total emissions of other greenhouse gases',
        'Total Methane (CH4)',
        "Total F-Gases (HFCs, SF6)",
        'Total Nitrous Oxide (N2O)']

ge_other_clean = ge_other.drop([i for i in range(25)])
#Emission of greenhouse gases other than CO2 in [ton CO2 equivalent]
ge_other_clean

,Year,Total emissions of other greenhouse gases,Total Methane (CH4),"Total F-Gases (HFCs, SF6)",Total Nitrous Oxide (N2O)
25,2015,32545553.0,21980252.0,2292734.0,8272567.0
26,2016,31936050.0,22086896.0,1881665.0,7967488.0
27,2017,32117170.0,21715493.0,1843693.0,8557984.0
28,2018,31096259.0,21017804.0,1881584.0,8196871.0

In [13]:
ge_co2 = ge_light[['Year',
       'Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]',
       'Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton]',
       'Totale CO2-uitstoot volgens Emissieregistratie (alle emissieoorzaken) [ton]',
       'Totale CO2-uitstoot excl. opwekking elektriciteit volgens ER (alle emissieoorzaken) [ton]',
       'Uitstoot Drinkwatervoorziening - CO2 [ton]',
       'Uitstoot Consumenten - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - CO2 [ton]',
       'Uitstoot RWZI - CO2 [ton]',
       'Uitstoot Consumenten - Energiegebruik Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Indirecte emissies broeikasgassen Consumenten - CO2 [ton]',
       'Uitstoot Consumenten - Productgebruik Consumenten - CO2 [ton]',
       'Uitstoot Drinkwatervoorziening - Drinkwaterbedrijven - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Handel, Diensten en Overheid (HDO) - Indirecte emissies broeikasgassen - CO2 [ton]',
       'Uitstoot RWZI - Energiegebruik en processen - CO2 [ton]',
       'Uitstoot Verkeer en vervoer - CO2 [ton]',
       'Uitstoot Afvalverwijdering - CO2 [ton]', 
       'Uitstoot Bouw - CO2 [ton]',
       'Uitstoot Chemische Industrie - CO2 [ton]',
       'Uitstoot Energiesector - CO2 [ton]',
       'Uitstoot Overige industrie - CO2 [ton]',
       'Uitstoot Raffinaderijen - CO2 [ton]', 
       'Uitstoot Landbouw - CO2 [ton]']]

In [14]:
sum1 = (ge_light['Uitstoot Landbouw - Energiegebruik Landbouw - CO2 [ton]'] + 
        ge_light['Uitstoot Landbouw - Indirecte emissies broeikasgassen Landbouw - CO2 [ton]'] +
        ge_light['Uitstoot Landbouw - Landbouwbedrijven - CO2 [ton]'] +
        ge_light['Uitstoot Landbouw - Productgebruik Landbouw - CO2 [ton]'])

ge_light['Sum Uitstoot Landbouw'] = sum1

ge_light[['Sum Uitstoot Landbouw', 'Uitstoot Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Energiegebruik Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Indirecte emissies broeikasgassen Landbouw - CO2 [ton]',
       'Uitstoot Landbouw - Landbouwbedrijven - CO2 [ton]',
       'Uitstoot Landbouw - Productgebruik Landbouw - CO2 [ton]']]

ge_co2_agri = ge_light[['Uitstoot Landbouw - CO2 [ton]']]

#It confirms the fact that some colums are the sum of their sub-columns. 
#Which is gonna help me filter this dataframe.

In [15]:
#ge_co2 = ge_co2.set_index('Year').transpose()
ge_co2.columns

null_co2 = ge_co2.isnull().sum()
null_co2[null_co2 == 23]
ge_co2_clean = ge_co2.drop(list(null_co2[null_co2 == 23].index), axis=1)
ge_co2_clean

,Year,"Totaal bekende CO2-uitstoot (gas, elektr., warmte, voertuigbrandstoffen) [ton]",Totaal bekende CO2-uitstoot exclusief CO2-uitstoot auto(snel)wegen [ton],Totale CO2-uitstoot volgens Emissieregistratie (alle emissieoorzaken) [ton],Totale CO2-uitstoot excl. opwekking elektriciteit volgens ER (alle emissieoorzaken) [ton],Uitstoot Drinkwatervoorziening - CO2 [ton],Uitstoot Consumenten - CO2 [ton],"Uitstoot Handel, Diensten en Overheid (HDO) - CO2 [ton]",Uitstoot RWZI - CO2 [ton],Uitstoot Consumenten - Energiegebruik Consumenten - CO2 [ton],...,"Uitstoot Handel, Diensten en Overheid (HDO) - Indirecte emissies broeikasgassen - CO2 [ton]",Uitstoot RWZI - Energiegebruik en processen - CO2 [ton],Uitstoot Verkeer en vervoer - CO2 [ton],Uitstoot Afvalverwijdering - CO2 [ton],Uitstoot Bouw - CO2 [ton],Uitstoot Chemische Industrie - CO2 [ton],Uitstoot Energiesector - CO2 [ton],Uitstoot Overige industrie - CO2 [ton],Uitstoot Raffinaderijen - CO2 [ton],Uitstoot Landbouw - CO2 [ton]
0,1990,NaN,NaN,169770964.0,129956495.0,14541.0,22392114.0,8274681.0,627986.0,20693799.0,...,118559.0,627986.0,33114740.0,4073787.0,482066.0,21338091.0,42594123.0,18375042.0,10524573.0,7959220.0
1,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1995,NaN,NaN,180426624.0,137634718.0,14144.0,25068108.0,9614931.0,737377.0,23295676.0,...,75925.0,737377.0,35271392.0,4487841.0,725735.0,20825691.0,45171808.0,18418132.0,11688809.0,8402654.0
6,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,NaN,NaN,180371154.0,133382941.0,31371.0,22363194.0,8238968.0,772304.0,20464175.0,...,46553.0,772304.0,39410505.0,6159684.0,812766.0,15900584.0,49286559.0,17619340.0,12124513.0,7651366.0
11,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2005,NaN,NaN,189016142.0,140529701.0,22805.0,21752378.0,8441814.0,801295.0,19666168.0,...,52571.0,801295.0,41373247.0,6657699.0,1022438.0,20056161.0,50738378.0,17954492.0,12342150.0,7853286.0
16,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2010,147236800.0,132113600.0,197101982.0,144723575.0,26731.0,25395682.0,9523320.0,791439.0,23161171.0,...,55922.0,791439.0,40577672.0,8868837.0,704177.0,18603148.0,54486304.0,16827359.0,10731386.0,10565929.0
21,2011,142341900.0,127202300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2012,143321300.0,128372400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2013,146484400.0,131726300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2014,141863600.0,127296200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,145544900.0,130955500.0,184948641.0,132949508.0,10298.0,18632625.0,7626008.0,803490.0,16224765.0,...,52629.0,803490.0,40480779.0,9685998.0,622293.0,18433849.0,53939960.0,15242014.0,11188563.0,8282763.0
26,2016,142664500.0,127707600.0,186703366.0,135301248.0,8855.0,19355662.0,7253739.0,837933.0,16902573.0,...,51128.0,837933.0,40797651.0,10752119.0,600110.0,19160853.0,53145525.0,15383209.0,11166581.0,8241130.0
27,2017,140528800.0,125569700.0,183945599.0,135543975.0,8023.0,18925638.0,7711614.0,831486.0,16425069.0,...,52274.0,831486.0,41062637.0,10478579.0,620569.0,19088254.0,50171846.0,16185394.0,10551995.0,8309564.0
28,2018,138735900.0,124326500.0,179269145.0,133591647.0,6986.0,18480105.0,7565767.0,821668.0,16315793.0,...,51951.0,821668.0,41334538.0,9708536.0,675665.0,18708897.0,47330428.0,15605856.0,10665872.0,8364826.0

In [22]:
ge_co2_clean.columns = ['Year',
                        'Total known CO2 emissions (gas, electricity, heat, vehicle fuels) [tons]',
                        'Total known CO2 emissions excluding CO2 emissions from car (motor) weighing [tons]',
                        'Total CO2 emissions according to Emission Registration (all emission causes) [tons]',
                        'Total CO2 emissions excluding electricity generation according to ER (all emission causes) [tons]',
                        'Drinking water supply emissions - CO2 [tons]',
                        'Consumer emissions - CO2 [tons]',
                        'Emissions Trade, Services and Government (HDO) - CO2 [tons]',
                        'Emissions WWTP - CO2 [tons]',
                        'Emission Consumers - Energy use Consumers - CO2 [tons]',
                        'Emissions Consumers - Indirect emissions greenhouse gases Consumers - CO2 [tons]',
                        'Emission Consumers - Product use Consumers - CO2 [tons]',
                        'Drinking water supply - Drinking water companies - CO2 [tons]',
                        'Emissions Trade, Services and Government (HDO) - Energy use and processes - CO2 [tons]',
                        'Emissions Trade, Services and Government (HDO) - Indirect emissions of greenhouse gases - CO2 [tons]',
                        'Emissions WWTP - Energy use and processes - CO2 [tons]',
                        'Emissions Traffic and transport - CO2 [tons]',
                        'Emissions Waste Disposal - CO2 [tons]', 
                        'Emissions Construction - CO2 [tons]',
                        'Chemical Industry emissions - CO2 [tons]',
                        'Energy sector emissions - CO2 [tons]',
                        'Emissions Other industry - CO2 [tons]',
                        'Refineries emissions - CO2 [tons]', 
                        'Agriculture emissions - CO2 [tons]']

In [23]:
ge_co2_clean.to_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\The_Amsterdam_Project\\greenhouse_CO2.txt', index=False)
ge_other_clean.to_csv('C:\\Users\\sarah\\Documents\\IRONHACK\\The_Amsterdam_Project\\greenhouse_others.txt', index=False)